:root {
  --main-color: #0A0708;
  --second-color: #444444;
  --tert-color: #747474;
  --quad-color: #B1B1B1;
  --light-color: #f9f9fb; 
}


body {
  font-family: "Roboto", sans-serif;
  background-color: var(--light-color);
  color: var(--main-color);
}

#root {
  text-align: center;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer { 
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

img{
  max-width: 1230px;
}

.resume-list li{
  
  width: 96px;
  min-width: 80px;
  height: 96px;
  
  
}

